{% extends 'journal/navbar.html' %}

{% block content %}

<div class="container shadow-md form-layout">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p id="message-timer" class="alert alert-success float-center text-center">{{ message }}</p>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p id="message-timer" class="alert alert-danger float-center text-center">{{ message }}</p>
        {% else %}
            <p id="message-timer" class="alert alert-info float-center text-center">{{ message }}</p>
        {% endif %}
    {% endfor %}
    <h1>Dashboard</h1>
    {{ user }}
    <br>
    <br>

    <a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock %}  