{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<div class="container shadow-md p-5 form-layout">
    <h3>Create your account</h3>
    <br><br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-secondary btn-lg w-100 btn-block p-4" type="submit">Register</button>
</div>

</html>