{% extends 'journal/navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container shadow-md form-layout">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p id="message-timer" class="alert alert-success float-center text-center">{{ message }}</p>
        {% endif %}
    {% endfor %}
    <br><br>
    <h3>Update a thought</h3>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit">Update Thought</button>
    </form>

</div>
<br>

{% endblock %}  